<a href="https://colab.research.google.com/github/taranaalex/MLPNS_ATarana/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
2*2

4

# First markdown text
Es: QED intercation $e\bar{\psi}\gamma^{\mu}A_{\mu}\psi$

# native variables and variable types

## integers

In [ ]:
intVar = 3 #in python NON posso specificare di che tipo Ã¨ una variabile

In [ ]:
type(intVar)

int

## floats

In [ ]:
floatVar = 3.8

In [ ]:
type(floatVar)

float

In [ ]:
float(intVar)

3.0

In [ ]:
type(float(intVar))

float

In [ ]:
intVar + floatVar

6.8

In [ ]:
intVar / 2

1.5

In [ ]:
intVar = 3

In [ ]:
floatVar = 3.0

In [ ]:
intVar + floatVar - floatVar/2

4.5

In [ ]:
(intVar + floatVar - floatVar) / 2

1.5

## strings

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("'Hello world'")

'Hello world'

In [ ]:
print('''Hello
world''')

Hello
world

In [ ]:
strVar = 'Hello wolrd'

In [ ]:
print(strVar)

Hello wolrd

## boolean

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
if True:
  print('this is true')
  print(intVar * floatVar)

this is true
9.0

In [ ]:
if False:
  print('this is true')
  print(intVar * floatVar)
else:
  print('condition was false')

condition was false

In [ ]:
if intVar == floatVar:
  print('condition was true')

condition was true

In [ ]:
# == is equal?
print(intVar == floatVar)
# > greater
print(intVar > floatVar)
# < less
print(intVar < floatVar)
# != not equal
print(intVar != floatVar)

True
False
False
False

In [ ]:
# | is logical "or"
(intVar > floatVar) | (intVar == floatVar)

True

In [ ]:
# & is logical "and"
(intVar > floatVar) & (intVar == floatVar)

False

In [ ]:
# * is logical "and"
if (intVar > floatVar) * (intVar == floatVar):
  print('True')
else:
  print('False')

False

In [ ]:
# + is logical "or"
if (intVar > floatVar) + (intVar == floatVar):
  print('True')
else:
  print('False')

True

## loop

In [ ]:
for i in range(1,10,3):
  print(i)

1
4
7

## variable as object

In [ ]:
strVar = 'hello world'

In [ ]:
strVar.capitalize()

'Hello world'

In [ ]:
strVar.upper()

'HELLO WORLD'

In [ ]:
strVar.isdigit()

False

In [ ]:
'3'.isdigit()

True

In [ ]:
floatVar.is_integer()

True

## list

In [ ]:
listVar = [intVar, floatVar, strVar, 0, True]
listVar

[3, 3.0, 'hello world', 0, True]

In [ ]:
listVar.append(11)

In [ ]:
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [ ]:
listVar[0]

3

In [ ]:
strVar[0]

'h'

In [ ]:
'h' in strVar

True

In [ ]:
64 in listVar

False

In [ ]:
listVar[1]=9
listVar

[3, 9, 'hello world', 0, True, 11]

In [ ]:
strVar[0]='H'

TypeError: ignored

# Exercise: Wordle

In [ ]:
target = "erROR"
guess = "tIgER"
if len(guess) != len(target):
  print('Illegal word')
else:
  guess = guess.upper()
  target = target.upper()
  output = []
  for i in range(0,5):
    if guess[i] in target:
      if guess[i] == target[i]:
        output.append(guess[i])
      else:
        output.append('*')
    else:
      output.append('_')
  print(" ".join(output))

_ _ _ * R

# functions

In [ ]:
def wordle(guess):
  """
  A function that checks a word guess against a target
  Input:
    guess: a string
  Return:
    a string
  """
  target = "ERROR"
  if len(guess) != len(target):
    print('Illegal word')
  else:
    guess = guess.upper()
    target = target.upper()
    output = []
    for i in range(0,5):
      if guess[i] in target:
        if guess[i] == target[i]:
          output.append(guess[i])
        else:
          output.append('*')
      else:
        output.append('_')
    print(" ".join(output))

In [ ]:
wordle?

In [ ]:
wordle('baobab')

Illegal word

In [ ]:
wordle('tigre')

_ _ _ * *

# importing packages

## typical packages that we will see
### pandas
  manipulation of tabular data
### numpy
  manipulation of numerical data
### scipy
  statistics (also statmodels)
### matplotlib (pylab)
  visualizations and plotting
### sklearn (scikitlearn)
  machine learning
### tensorflow
  neural networks

In [ ]:
import pandas

In [ ]:
import pandas as pd
from pandas import read_csv #csv: "comma separated values"
# from pandas import * # NEVER!

In [ ]:
url = "https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [ ]:
df = pd.read_csv(url)

In [ ]:
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [ ]:
df.shape

(924, 41)

In [ ]:
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [ ]:
df.iloc[0] #i: index; loc: location

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [ ]:
df.iloc[:,1]

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [ ]:
df.loc[:,'Created Date']

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [ ]:
url = 'https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat'
colnames = ['Title','Genre']
movies = pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames)
movies

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                   Title                         Genre
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [ ]:
movies['Title']

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: Title, Length: 3883, dtype: object

In [ ]:
"Toy Story (1995)".split()

['Toy', 'Story', '(1995)']

In [ ]:
"Toy Story (1995)".split()[-1].replace("(","").strip(")")

'1995'

In [ ]:
def get_year(mtitle):
  """
  """
  return int(mtitle.split("(")[-1].strip(")"))

In [ ]:
movies["Title"].map(get_year)

1       1995
2       1995
3       1995
4       1995
5       1995
        ...
3948    2000
3949    2000
3950    2000
3951    2000
3952    2000
Name: Title, Length: 3883, dtype: int64

In [ ]:
movies["Year"] = movies["Title"].map(get_year)

In [ ]:
movies.groupby("Year").count

# $\textbf{Exercise}$

In [77]:
import pandas as pd
url=('https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat')
colnames=['title','genre']
movies = pd.read_csv(url, sep='::', index_col=0, header=None, names=colnames)

#Find which and how many (ONLY) 'Fantasy' movies there are in the list
nFan = sum(movies.genre == 'Fantasy')
nAdv = sum(movies.genre == 'Adventure')
print('There are',nFan,'Fantasy movies in the list:')
print(movies.title[movies.genre == 'Fantasy'])
print('There are',nAdv,'Adventure movies in the list:')
print(movies.title[movies.genre == 'Adventure'])

#Find how many movies are listed as 'Fantasy' (not necessarly the only genre)
def findFantasy(target):
  """
  """
  return bool('Fantasy' in target)

print('There are',sum( map(findFantasy,movies['genre'].str.split('|')) ),'in the list.')

There are 1 Fantasy movies in the list:
792    Hungarian Fairy Tale, A (1987)
Name: title, dtype: object
There are 17 Adventure movies in the list:
761                          Phantom, The (1996)
941                    Mark of Zorro, The (1940)
1070                                Macao (1952)
1254    Treasure of the Sierra Madre, The (1948)
1303           Man Who Would Be King, The (1975)
1849                       Prince Valiant (1997)
1931                 Mutiny on the Bounty (1935)
2477                           Firewalker (1986)
2537        Beyond the Poseidon Adventure (1979)
2895                Napoleon and Samantha (1972)
3036                       Quest for Fire (1981)
3166                         Brenda Starr (1989)
3172                     Ulysses (Ulisse) (1954)
3207            Snows of Kilimanjaro, The (1952)
3390                    Shanghai Surprise (1986)
3412                            Bear, The (1988)
3492                Son of the Sheik, The (1926)
Name: title, dtype: object
There are 68 in the list.